<!doctype html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,200italic,300italic,400italic' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Code For France</title>
  <meta name="description" content="Code For France">
  <meta name="author" content="Code For France">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="icon" type="image/png" href="images/favicon.png" />
</head>
<body class="cff">
  <div class="cff-container">
    <img class="cff-logo" src="images/code-for-france-logo@2x.png" alt="Code For France Logo"/>
    <h1>La France a besoin d’une update.</h1>
    <p>Soutenir le projet</p>
    <div class="buttons-group buttons-social">
      <a class="button button-twitter" href="https://twitter.com/intent/follow?screen_name=codeforfrance&lang=fr"><i class="icon icon-twitter"></i><span>Suivez-nous sur Twitter</span><span class="success-text">Vous êtes abonné</span></a>
      <!-- <span class="buttons-text-separator">ou</span> -->
      <a class="button button-github <% if (locals.auth) { %> button-success <% } %>" href="/auth/github"><i class="icon icon-github"></i><span>Inscrivez-vous via GitHub</span><span class="success-text">Inscription confirmée!</span></a>
    </div>
    <div class="cff-footer">
      <a class="footer-link" class="footer-link" href="https://twitter.com/codeforfrance" target="_blank">Twitter</a>
      <img class="footer-logo" src="images/favicon.png"/>
      <a class="footer-link" class="footer-link" href="https://github.com/codeforfrance" target="_blank">GitHub</a>
    </div>
  </div>
  <script src="https://platform.twitter.com/widgets.js"></script>
  <script>
    twttr.ready(function (twttr) {
      // Add class to the Twitter button after following the account
      twttr.events.bind('follow', function(intent) {
        if (intent && intent.data.user_id === "484733186" && intent.type === 'follow') {
          intent.target.className = intent.target.className + ' button-success';
        }
      });
    });
  </script>
</body>
</html>
