<!doctype html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,200italic,300italic,400italic' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Code For France</title>
  <meta name="description" content="Code For France">
  <meta name="author" content="Code For France">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body class="cff">
  <div class="cff-container">
    <img class="cff-logo" src="images/code-for-france-logo@2x.png"/>
    <h1>Implémentons la France du 21ème siècle.</h1>
    <p>Sountenir le projet</p>
    <div class="buttons-group buttons-social">
      <a class="button button-twitter" href="#"><i class="icon icon-twitter"></i>Suivez-nous sur Twitter</a>
      <span class="buttons-text-separator">ou</span>
      <a class="button button-github" href="#"><i class="icon icon-github"></i><span>Inscrivez-vous via Github</span><span class="success-text">Inscription confirmée!</span></a>
    </div>
  </div>
</body>
</html>
